/*gameStyleSheet*/

.mainDiv {
    height: 750px;
    background-color: #e8f5e6;
    border: 5px solid #00990d;
}

.container {
    display: flex;
    height: 10px;
}

.container>div {
    /*grow*/
}

.border {
    width: 100%;
    height: 100%;
}

#img1 {
    background-image: url("./img/generaloverview.png");
    width: 4in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 5s;
}

#img1:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("./img/gameover.png");
    /* HOVER ON */
    -webkit-transition: 2s;
}

#img2 {
    background-image: url("./img/back.png");
    width: 4in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 5s;
}

#img2:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("./img/img2.png");
    /* HOVER ON */
    -webkit-transition: 2s;
}

img {
    width: 0.8in;
    height: 0.62in;
}