/*transform*/


/*mandela*/

div.rotate:hover {
    transform: translate(10em, 10em);
}

#place {
    width: 6em;
    height: 3.1em;
    border: 5px solid red
}


/*car*/

div.rotate:hover {
    transform: rotate(-25deg);
    transform-origin: right-bottom;
}

#car {
    width: 9em;
}


/*transition*/

.card {
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-out;
    background-image: url("back.png");
    width: 10em;
    height: 10em;
}

.card:hover {
    background-image: url("front.png");
    width: 10em;
    height: 10em;
}

.animation {
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-out;
    background-image: url("back.png");
    width: 30em;
    height: 30em;
}

.animation:hover {
    animation-duration: 2s;
    animation-name: game-over;
    animation-iteration-count: infinite;
    background-image: url("gameover.jpg");
    width: 30em;
    height: 30em;
}

@keyframes game-over {}

.class {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    background-image: url("back.png");
    width: 40em;
    height: 40em;
}

@keyframes hover {
    0% {
        transform: rotate(30deg);
        // normal styles
    }
    100% {
        // hover styles
    }
}

.class:active,
.class:focus,
.class:hover {
    background-image: url("gameover.jpg");
    animation-fill-mode: forwards;
    animation-play-state: paused;
    transition: all 10s ease;
}

#thing {
    background-image: url("back.png");
    width: 40em;
    height: 40em;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#thing:hover {
    padding: 20px;
    border-radius: 15px;
    width: 40em;
    height: 40em;
    background-image: url("gameover.jpg");
    /* HOVER ON */
    -webkit-transition: 2s;
}